stages:
  - build
  - test
  - publish

build_job:
  ## Install Poetry, run poetry install, run poetry build
  stage: build
  image: python:3.13
  script:
    - pip install poetry
    - poetry install
    - poetry build
  artifacts:
    paths:
      - dist/
test_job:
  stage: test
  image: python:3.13
  dependencies:
    - build_job
  script:
    - pip install dist/*.whl
    - python3 tests/test_oscparser.py

publish_to_testpypi:
  id_tokens:
    PYPI:
      aud: testpypi
  stage: publish
  image: python:3.13
  before_script:
    - pip install poetry
    - poetry config repositories.testpypi https://test.pypi.org/legacy/
  dependencies:
    - build_job
  script:
    - poetry publish --no-build --repository testpypi
