stages:
  - build
  - test
  - publish

build_job:
  ## Install Poetry, run poetry install, run poetry build
  stage: build
  image: python:3.13
  before_script:
    - pip install poetry
    - poetry install
  script:
    - poetry build
  artifacts:
    paths:
      - dist/

test_job:
  stage: test
  image: python:3.13
  before_script:
    - pip install poetry
    - poetry install
  script:
    - poetry run python3 -m unittest tests/test_oscparser.py

publish_to_testpypi:
  id_tokens:
    pypi_id_token: 
      aud: pypi
  stage: publish
  image: python:3.13
  before_script:
    - pip install poetry
    - poetry config repositories.testpypi https://test.pypi.org/legacy/
  dependencies:
    - build_job
  script:
    - poetry publish --repository testpypi