stages:
  - build
  - test
  - publish

workflow:
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      changes:
        compare_to: 'refs/heads/$CI_DEFAULT_BRANCH'
        paths:
          - pyproject.toml
      when: always
    - if: $CI_COMMIT_TAG
      when: always
    - when: never

build:
  ## Install Poetry, run poetry install, run poetry build
  stage: build
  image: python:3.13
  before_script:
    - pip install poetry
    - poetry lock
    - poetry install --with dev
  script:
    - poetry build
  artifacts:
    paths:
      - dist/

test_job:
  stage: test
  image: python:3.13
  before_script:
    - pip install poetry
    - poetry install
  script:
    - poetry run python3 -m unittest tests/test_oscparser.py

publish_to_testpypi:
  id_tokens:
    TESTPYPI_ID_TOKEN: 
      aud: testpypi
  stage: publish
  image: python:3.13
  before_script:
    - pip install poetry
    - poetry lock
    - poetry install
  dependencies:
    - build
  script:
    - poetry run twine upload --repository testpypi dist/*
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      changes:
        compare_to: 'refs/heads/$CI_DEFAULT_BRANCH'
        paths:
          - pyproject.toml
      when: on_success
    - when: never
  
publish_to_gitlab:
  image: python:latest
  stage: publish
  variables:
    TWINE_USERNAME: gitlab-ci-token
    TWINE_PASSWORD: $CI_JOB_TOKEN
  before_script:
    - pip install poetry
    - poetry lock
    - poetry install --with dev
  dependencies:
    - build
  script:
    - poetry run twine upload --repository-url ${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/pypi dist/*
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      changes:
        compare_to: 'refs/heads/$CI_DEFAULT_BRANCH'
        paths:
          - pyproject.toml
      when: on_success
    - when: never

publish_to_pypi:
  id_tokens:
    PYPI_ID_TOKEN: 
      aud: pypi
  stage: publish
  image: python:3.13
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      changes:
        compare_to: 'refs/heads/$CI_DEFAULT_BRANCH'
        paths:
          - pyproject.toml
      when: on_success
    - when: never
  before_script:
    - pip install poetry
    - poetry lock
    - poetry install
  dependencies:
    - build
  script:
    - poetry run twine upload dist/* 